* {
  box-sizing: border-box;
}
.card-img-top {
  /* width: 620px; */
  width: 620px;
  height: 100%;
}
@media (max-width: 844) {
  .card-h {
    display: flex;
    flex-wrap: wrap;
    width: 5px;
  }
}

@media (max-width: 769px) {
  .text-carrusel {
    font-size: small;
    text-align: center;
    margin-bottom: 0px;
  }
  .row {
    justify-content: space-around;
    width: 10px;
    height: 100%;
    flex-wrap: nowrap;
  }
  .card-h {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
  .row {
    width: 100%;
    flex-wrap: wrap;
    gap: 2%;
  }
}
