* {
  box-sizing: border-box;
}
.card-img-top {
  width: 550px;
}
@media (max-width: 769px) {
  .row {
    justify-content: space-around;
    width: 10px;
    height: 100%;
    flex-wrap: nowrap;
  }
  .card-h {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
